<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zeichnungen</title>

    <!-- Bootstrap CSS. -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap-dark-mode.js"></script>
    <link rel="stylesheet" href="/static/simpleLightbox.min.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <h2 class="mb-3">Filter</h2>
                <form id="filter_form">
                    {% for variable, values in unique.items() %}
                    <div class="mb-3">
                        <h5>{{ variable }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ variable }}" value=""
                                id="{{ variable }}" checked onchange="apply_filter()">
                            <label class="form-check-label" for="{{ variable }}"><i>Alle</i></label>
                        </div>
                        {% for value in values %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{ variable }}" value="{{ value }}"
                                id="{{ variable }}{{ loop.index0 }}" onchange="apply_filter()">
                            <label class="form-check-label" for="{{ variable }}{{ loop.index0 }}">{{ value }} <span
                                    id="{{ variable }}{{ loop.index0 }}-count" class="text-secondary"></span></label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </form>

                <button type="button" class="btn btn-danger" onclick="reset_filter()">Filter zurücksetzen</button>
            </div>

            <div class="col-sm-9 col-md-10">
                <h2 class="mb-3"><span id="count"></span> Zeichnungen</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
                    {% for index, data in records.items() %}
                    <div class="col zeichnung" zeichnung="{{ index }}">
                        <div class="card">
                            <a class="for-lightbox" title="{{ index[:10] }} <b>{{ index[11:] }}</b>"
                                href="big/{{ index }}.jpg">
                                <img src="small/{{ index }}.jpg" class="card-img-top">
                            </a>
                            {# <div class="card-body">
                                <h5 class="card-title">{{ index[11:] }}</h5>
                                <p class="card-text">{{ data | tojson }}</p>
                            </div> #}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script>
            const variables = {{ variables }}
            const unique = {{ unique | tojson }}
            const records = {{ records | tojson }}
        </script>

        <script src="/static/bootstrap.bundle.min.js"></script>
        <script src="/static/filter.js"></script>
        <script src="/static/simpleLightbox.min.js"></script>

        <script type="text/javascript">
            const lightbox = new SimpleLightbox({ elements: '.for-lightbox' });
        </script>
</body>

</html>